<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.cordova.plugin.splashscreenvideo" version="1.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>CDVSplashScreenVideo</name>
	<js-module name="CDVSplashScreenVideo" src="www/CDVSplashScreenVideo.js">
		<clobbers target="cordova.plugins.CDVSplashScreenVideo" />
	</js-module>
	<platform name="ios">
		<preference name="SPLASH_BACKGROUND_COLOR"/>
		<preference name="FADE_DURATION" default="0.7"/>
		<hook type="before_plugin_install" src="hooks/install_prerequisites.js" />
		<hook type="before_plugin_install" src="hooks/copy_video.js" />
		<hook type="after_plugin_install" src="hooks/change_cordova_splash_background_color.js" />
		<config-file target="config.xml" parent="/*">
        	<preference name="fade_duration" value="$FADE_DURATION" />
    	</config-file>
		<config-file parent="/*" target="config.xml">
			<feature name="CDVSplashScreenVideo">
				<param name="ios-package" value="CDVSplashScreenVideo" />
			</feature>
		</config-file>
		<source-file src="src/ios/CDVSplashScreenVideo.m" />
		<source-file src="src/ios/MainViewController+SplashScreenVideo.m" />
		<header-file src="src/ios/MainViewController+SplashScreenVideo.h" />
		<resource-file src="src/SplashScreen.mp4" />
	</platform>
</plugin>